* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background: linear-gradient(180deg, rgba(250, 245, 245, 0.62), 1.34%, rgba(250, 245, 245, 0) 89.17%, #EACDCD 100%);
}

h3 {
    color: #936589;
    padding: 10px;
}

.navbar-nav a {
    font-size: 1.2rem;
    color: #936589;
    font-weight: 300;
}

.navbar-nav a:hover {
    color: #cb7f0e;
}

.navbar-brand img {
    height: 80px;
}

.navbar-toggler {
    background-color: #936589;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler i {
    color: #F5F5DC;
}

.titulo-a,
.titulo-b,
.titulo-c,
.titulo-d,
.titulo-e,
.titulo-f,
.titulo-g,
.titulo-h,
.titulo-i,
.titulo-j,
.titulo-k {
    padding: 20px;
}

.btn-primary {
    color: #F5F5DC; 
    background-color: #936589;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #a5809f;
}

.newsletter {
    padding: 20px;
}

footer {
    font-size: 1rem;
    color:rgb(84, 83, 83);
    padding: 20px;
}

.footer {
    padding: 10px;
}

.socialMedia a {
    font-size: 30px;
    height: 80px;
    text-decoration: none;
    background: linear-gradient(90deg, #fbcb84, #cb6acd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.socialMedia a:hover {
    animation: saltar 1s ease-in-out 1 normal both;
}

@keyframes saltar {
    from {
        transform: translateY(0) scale(1,1);
    }
    15% {
        transform: translateY(-1rem) scale(1,1.2);
    }
    35%,
    45% {
        transform: translateY(-2.8rem) scale(1,1.08);
    }
    
    65%,
    to {
        transform: translateY(0) scale(1,1);
    }
    
    75% { 
        transform: translateY(.5rem) scale (1.2,8);
    }
    85% {
        transform: translateY(0) scale(1.2,.8);
    }
    
    95% {
        transform: translateY(0) scale(1,1);
    }
}

.socialMedia a + a {
    margin-left: 1rem;
}

/* HOME */

.logo h1 {
    font-style: normal;
    font-size: 100px;
    font-weight: 100;
    text-transform: uppercase;
    background: linear-gradient(90deg, #eabc79, #cb6acd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
  
.logo h3 {
    color: #936589;
    text-align: end;
    font-weight: 300;
}

.main-img {
    margin-top: -150px;
    z-index: -100;
}

/* FONDO ANIMADO */

.fondo-animado {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

span.uno, 
span.dos, 
span.tres, 
span.cuatro {
    border: 0;
    display: block;
    position: absolute;
    animation: vuelta 5s linear normal both;
}

span.uno {
    font-size: 15px;
    top: -100px;
    color: rgb(216, 174, 211);
}

span.dos {
    font-size: 20px;
    top: -70px;
    color: rgb(240, 208, 163);
}

span.tres {
    font-size: 10px;
    top: -50px;
    color: rgb(205, 155, 152);
}

span.cuatro {
    font-size: 12px;
    top: -20px;
    color: rgb(211, 156, 204);
}
    
@keyframes vuelta {
    from {
        transform: rotate(0deg);
        top: 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        top: calc(60% + 100px);
        opacity: 0;
    }
}

.fondo-animado span:nth-child(1) {
    left: 5%;
}

.fondo-animado span:nth-child(2) {
    left: 50%;
}

.fondo-animado span:nth-child(3) {
    left: 35%;
}

.fondo-animado span:nth-child(4) {
    left: 75%;
}

.fondo-animado span:nth-child(5) {
    left: 25%;
}

.fondo-animado span:nth-child(6) {
    left: 85%;
}

.fondo-animado span:nth-child(7) {
    left: 90%;
}

.fondo-animado span:nth-child(8) {
    left: 65%;
}

.fondo-animado span:nth-child(9) {
    left: 60%;
}

.fondo-animado span:nth-child(10) {
    left: 75%;
}

.fondo-animado span:nth-child(11) {
    left: 10%;
}

.fondo-animado span:nth-child(12) {
    left: 55%;
}

span.delay-1 {
    animation-delay: 1s;
}

span.delay-2 {
    animation-delay: 2s;
}

span.delay-3 {
    animation-delay: 3s;
}

span.delay-4 {
    animation-delay: 4s;
}

span.delay-5 {
    animation-delay: 5s;
}

span.delay-6 {
    animation-delay: 6s;
}

.frase2 p {
    color: #cb7f0e;
    font-size: 1.8rem;
    padding: 50px 0px 0px 0px;
    font-weight: 100;
}

.carousel-caption p {
    color: rgb(84, 83, 83);
    font-weight: 700;
}

.carousel-control-prev {
    color: #936589;
    font-size: 40px;
} 

.carousel-control-next {
    color: #936589;
    font-size: 40px;
}

/* PRODUCTS */

.nuestras-colecciones img {
    width: 100px;
}

.main-almohadones {
    padding: 20px 0px 0px 0px;
    max-height: 540px;
}

.almohadon1 {
    padding: 20px 0px 0px 0px;
 }

 .almohadon2 {
    padding: 20px 0px 0px 0px;
 }

 .almohadon3 {
    padding: 20px 0px 0px 0px;
 }

 .almohadon4 {
    padding: 20px 0px 0px 0px;
 }

/* NEWS */

.video {
     height: 500px;
     padding: 10px;
}
 
.NewsP {
     padding: 10px;
 }
 
.Rosa img {
     width: 80%;
     padding: 10px;
}

/* ABOUT */

.titulo-d {
    padding: 30px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #eabc79, #cb6acd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}   

.bio {
    padding: 0px 20px;
}

.Meli {
    height: 800px;
}

.orquidea {
   position: absolute;
   padding-left: 80px;
}

.orquidea img {
    height: 500px;
    z-index: 3;
}

.about-frase {
   position: absolute;
   padding: 50px 0px 0px 600px;
}

.about-frase img {
    height: 200px;
}

.about-fondo {
    background-color: #f4e0e0;
    height: 650px;
    width: 600px;
    position: absolute;
    z-index: -50;
    margin: 50px 0px 0px 400px;
}

.calidad {
    font-size: 20px;
    color: #cb7f0e;
    padding: 10px;
}

/* CONTACT */

.Formulario {
    width: 100%;
    padding: 0px 50px;
    color: rgb(84, 83, 83);
}

.mapa p {
    margin-left: 30px;
}

.mapa span {
    width: 100%;
    padding: 0px 10px 25px 40px;
}

.mapa iframe {
    margin-left: 20px;
}

.Form {
    text-align: start;
}

.Form form label {
    padding: 10px 0px;
}

.Form form div input {
    width: 100%;
}

.Form form input:hover, .Form form textarea:hover {
    cursor: pointer;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(215, 215, 215);
}

.buttons {
    padding: 10px 20px;
}