* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.logogradient, h1, .sub-Meli {
  font-style: normal;
  text-transform: uppercase;
  background: linear-gradient(1deg, #cb6acd, #eabc79);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.gradient, body .gradientBackground .gradient1, body .gradientBackground .gradient2 {
  position: absolute;
  width: 100%;
  max-width: calc(20vw + 25%);
  height: 100%;
  max-height: calc(20vh + 25%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1; }

body {
  font-family: "Nunito", sans-serif;
  color: #545353; }
  body .gradientBackground {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-attachment: scroll;
    user-select: none;
    pointer-events: none; }
    body .gradientBackground .gradient1 {
      top: -25%;
      left: -25%;
      background: radial-gradient(50% 50% at 50% 50%, #EACDCD 0%, rgba(255, 255, 255, 0) 100%);
      transform: translate(-25%, -25%) scale(2); }
    body .gradientBackground .gradient2 {
      right: 0;
      bottom: 0;
      background: radial-gradient(50% 50% at 50% 50%, #EACDCD 0%, rgba(255, 255, 255, 0) 100%);
      transform: translate(50%, 50%) scale(1.5); }

.navbar-nav {
  width: 50vw;
  justify-content: space-evenly; }
  .navbar-nav a {
    font-size: 1.2rem;
    color: #936589;
    font-weight: 700; }
    .navbar-nav a:hover {
      color: #cb7f0e; }

.navbar-brand img {
  height: 30px; }

.navbar-toggler {
  background-color: transparent; }
  .navbar-toggler i {
    color: #936589; }
  .navbar-toggler:focus {
    box-shadow: none; }

h2,
h4 {
  color: #545353;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center; }

h3 {
  color: #545353;
  padding: 30px;
  font-size: 1.4rem;
  text-align: center; }

.newsletter {
  padding: 100px; }

footer {
  font-size: 1rem;
  padding: 20px; }
  footer .footer {
    padding: 10px; }

.btn-primary {
  color: #F5F5DC;
  background-color: #936589;
  border: none;
  border-radius: 5px; }
  .btn-primary:hover {
    background-color: #a5809f; }

.contacto {
  height: 200px;
  align-items: center;
  font-weight: 600; }

h1 {
  font-size: 5rem;
  font-weight: 100;
  margin: 0; }

h2 {
  color: #545353;
  text-align: end;
  font-weight: 300;
  padding: 0px;
  margin-top: -10px; }

.main-img {
  margin-top: -150px;
  z-index: -100; }

.frase2 p {
  color: #cb7f0e;
  font-size: 1.8rem;
  padding: 50px 0px 0px 0px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 5px; }

.cards {
  padding: 10px 10px; }
  .cards figure {
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(40, 40, 40, 0.5);
    cursor: pointer; }
    .cards figure img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-in-out; }
    .cards figure .capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(99, 64, 101, 0.6);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .cards figure .capa h3 {
        color: #F5F5DC;
        font-weight: 400;
        margin-bottom: 100px;
        transition: all 500ms ease-out;
        margin-top: 20px;
        letter-spacing: 5px; }
      .cards figure .capa p {
        color: #F5F5DC;
        font-size: 18px;
        width: 100%;
        max-width: 220px;
        margin: auto; }
    .cards figure .fa-plus {
      color: #F5F5DC;
      font-size: 30px;
      padding: 5px 0px; }
    .cards figure:hover .capa {
      opacity: 1;
      visibility: visible; }
      .cards figure:hover .capa h3 {
        margin-top: 50px;
        margin-bottom: 10px; }

#MiCarousel .carousel-caption p {
  color: #545353;
  font-weight: 700; }

#MiCarousel .carousel-control-prev,
#MiCarousel .carousel-control-next {
  color: #936589;
  font-size: 40px; }

.nuestras-colecciones img {
  width: 100px; }

.main-almohadones {
  max-width: 540px;
  padding-top: 20px; }
  .main-almohadones img {
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(40, 40, 40, 0.5);
    height: 100%; }

.grupo-almohadones,
.grupo-manteles {
  padding-top: 20px; }
  .grupo-almohadones img,
  .grupo-manteles img {
    border-radius: 5px; }
    .grupo-almohadones img:hover,
    .grupo-manteles img:hover {
      transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
      transform: scale(1.2);
      cursor: pointer; }

.video-mantel {
  width: 100%;
  padding-top: 10px; }

.video {
  height: 500px;
  padding: 10px; }

.NewsP {
  padding: 10px; }

.Rosa img {
  width: 80%;
  padding: 10px; }

.sub-Meli h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px;
  text-align: left; }

.bio {
  padding: 0px 20px; }
  .bio p {
    font-size: 20px; }

.Meli {
  height: 800px; }

.orquidea {
  position: absolute;
  padding-left: 70px; }
  .orquidea img {
    height: 500px;
    z-index: 3; }

.about-frase {
  position: absolute;
  padding: 50px 0px 0px 600px;
  width: 100%;
  margin: 0; }
  .about-frase img {
    height: 200px; }

.about-fondo {
  background-color: #f4e0e0;
  height: 650px;
  width: 600px;
  position: absolute;
  z-index: -50;
  margin: 50px 0px 0px 400px; }

.calidad {
  font-size: 20px;
  font-weight: 600;
  color: #545353;
  padding: 10px;
  text-align: center; }

.Form {
  padding: 0px 50px; }

.mapa p {
  margin-left: 30px; }

.mapa span {
  width: 100%;
  padding: 0px 10px 25px 40px; }

.mapa iframe {
  margin-left: 20px; }

.styleForm {
  text-align: start; }
  .styleForm form label {
    padding: 10px 0px; }
  .styleForm form div input {
    width: 100%; }
  .styleForm form input:hover,
  .styleForm form textarea:hover {
    cursor: pointer; }

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #545353; }

.buttons {
  padding: 10px 20px; }

/* HOME FONDO ANIMADO DE ESTRELLAS  */
.fondo-animado {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .fondo-animado span {
    border: 0;
    display: block;
    position: absolute;
    animation: vuelta 3s linear normal both; }
    .fondo-animado span.uno {
      font-size: 15px;
      color: #d8aed3;
      top: -100px; }
    .fondo-animado span.dos {
      font-size: 20px;
      color: #f0d0a3;
      top: -70px; }
    .fondo-animado span.tres {
      font-size: 10px;
      color: #cd9b98;
      top: -50px; }
    .fondo-animado span.cuatro {
      font-size: 12px;
      color: #d39ccc;
      top: -20px; }
    .fondo-animado span:nth-child(1) {
      left: 5%; }
    .fondo-animado span:nth-child(2) {
      left: 50%; }
    .fondo-animado span:nth-child(3) {
      left: 35%; }
    .fondo-animado span:nth-child(4) {
      left: 75%; }
    .fondo-animado span:nth-child(5) {
      left: 25%; }
    .fondo-animado span:nth-child(6) {
      left: 85%; }
    .fondo-animado span:nth-child(7) {
      left: 90%; }
    .fondo-animado span:nth-child(8) {
      left: 65%; }
    .fondo-animado span:nth-child(9) {
      left: 60%; }
    .fondo-animado span:nth-child(4) {
      left: 75%; }
    .fondo-animado span:nth-child(11) {
      left: 10%; }
    .fondo-animado span:nth-child(12) {
      left: 55%; }
    .fondo-animado span.delay-1 {
      animation-delay: 1s; }
    .fondo-animado span.delay-2 {
      animation-delay: 2s; }
    .fondo-animado span.delay-3 {
      animation-delay: 3s; }
    .fondo-animado span.delay-4 {
      animation-delay: 5s; }
    .fondo-animado span.delay-5 {
      animation-delay: 2s; }
    .fondo-animado span.delay-6 {
      animation-delay: 4s; }

@keyframes vuelta {
  from {
    transform: rotate(0deg);
    top: 0;
    opacity: 0; }
  10% {
    opacity: 1; }
  60% {
    opacity: 0; }
  to {
    transform: rotate(360deg);
    top: calc(60% + 100px);
    opacity: 0; } }

/* ICONOS ANIMADOS REDES SOCIALES */
.socialMedia a {
  background: linear-gradient(90deg, #fbcb84, #cb6acd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  height: 80px;
  text-decoration: none; }
  .socialMedia a:hover {
    animation: saltar 1s ease-in-out 1 normal both; }
  .socialMedia a + a {
    margin-left: 1rem; }

@keyframes saltar {
  from {
    transform: translateY(0) scale(1, 1); }
  15% {
    transform: translateY(-1rem) scale(1, 1.2); }
  35% {
    transform: translateY(-2.8rem) scale(1, 1.08); }
  45% {
    transform: translateY(-2.8rem) scale(1, 1.08); }
  65% {
    transform: translateY(0) scale(1, 1); }
  75% {
    transform: translateY(0.5rem) scale(1.2, 0.8); }
  85% {
    transform: translateY(0) scale(1.2, 0.8); }
  95% {
    transform: translateY(0) scale(1, 1); }
  to {
    transform: translateY(0) scale(1, 1); } }

@media (max-width: 576px) {
  h1 {
    font-size: 4rem; }
  .video-mantel {
    width: 100%; }
  .Meli img {
    width: 100%; }
  .mapa p {
    width: 90%;
    padding-left: 0px; }
  .mapa iframe {
    padding-right: 20px;
    padding-left: 0px; } }
