@media (max-width: 576px) {
    h1 {
        font-size: 4rem;
    }
    
    #carousel .overlay h5 {
        text-align: center;
    }

    .video-mantel {
        width: 100%;
    }
        
    .video-contact {
        padding: 30px 0px;
        
        video {
            width: 70%;
        }
    }

    .contact-fondo {
        margin: 0px;
    }
}