.video {
    height: 500px;
    padding: 10px;
}

.rosa {
    background-color: $softpink;
    padding: 20px 0px;
    
    img {
        width: 100%;
        padding: 10px 0px;
        }
}

.tusor {
    background-color: $softpink;
    padding: 20px 0px;
    
    img {
        width: 100%;
        padding: 10px 0px;
        }
}

.NewsP {
    background-color: #fef3f3;
    padding: 20px 0px;
    margin-top: 30px;
}