.nuestras-colecciones {
    img {
        width: 100px;
    }
}


.main-almohadones {
    max-width: 540px;
    padding-top: 20px;

    img {
        border-radius: 5px;
        box-shadow: 0px 5px 5px rgba(40, 40, 40, 0.5);
        height: 100%;
    }
}

.grupo-almohadones {
    padding-top: 20px;
    transition: all 500ms ease;
    overflow: hidden;

    img {
        border-radius: 5px;
        transition: all 500ms ease;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}