$gpink: #936589;
$softpink:#EACDCD;
$mustar: #cb7f0e;
$grey:#686666;
$cream: #F5F5DC;

@import "basicos";
@import "home";
@import "products";
@import "news";
@import "about";
@import "contact";
@import "animations";
@import "mediaqueries";